@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100vh;
}
.layout-2 {
  height: screen;
  background-color: primary;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  max-width: 450px;
}

h1,
p {
  padding-top: 0;
  line-height: 1rem;
  padding-bottom: 0;
}

main {
  height: 100vh;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon {
  cursor: pointer;
  font-size: 1rem;
}
.icon:hover {
  transform: scale(1.4);
}
.icon-edit {
  color: blue;
}
.icon-del {
  color: red;
}
